{{outlet}}


  <div class="row">
    <h2 class='text-center'>- {{model.title}} -</h2>
    <p class='text-center'>{{formatDate "LL" model.date}}</p>
    <p class='text-center text-muted'><em>{{model.description}}</em></p>

  </div>



  <button class="btn btn-primary" {{action 'toggleShow'}}>
    People/Gifts
  </button>

  {{#if isPeople}}
    <button type="button" name="button" class='btn btn-primary' {{action 'eventAddPerson'}}>
      {{#if isAddingPerson}}
        See People
      {{else}}
        New Person
      {{/if}}
    </button>
    {{#if isAddingPerson}}
      {{add-person saveChanges=(action 'update') event=model}}
    {{else}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Event People
          </h4>
        </div>
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-12"></th>
            </tr>
          </thead>
          <tbody>
            {{#each model.recipients as |recipient|}}
              {{#if recipient.name}}
                <tr>
                  <td class="col-xs-12">
                    <blockquote>
                      {{#link-to 'recipients.recipient' recipient}}{{recipient.name}}{{/link-to}}
                      <footer>
                        {{show-gifts recipient=recipient event=model}}
                      </footer>
                    </blockquote>
                  </td>
                </tr>
              {{/if}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/if}}
  {{else}}
    <button type="button" name="button" class='btn btn-primary'>New Gift</button>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          Event Gifts
        </h4>
      </div>
      <table class="table table-fixed">
        <thead>
          <tr>
            <th class="col-xs-3">Gift</th>
            <th class="col-xs-3">Price</th>
            <th class="col-xs-3">External Link</th>
            <th class="col-xs-3">Priority</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.gifts as |gift|}}
            <tr>
              <td class="col-xs-3">{{#link-to 'gifts.gift' gift}}{{gift.name}}{{/link-to}}</td>
              <td   class="col-xs-3">{{gift.price}}</td>
              <td class="col-xs-3"><a target="_blank" href="{{gift.url}}">Link</a></td>
              <td class="col-xs-3">{{gift.priority}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  {{/if}}
