{{outlet}}

<div class="container">
  <div class="row">
    <h2 class='text-center'>- {{model.title}} -</h2>
    <p class='text-center'>{{formatDate "LL" model.date}}</p>
    <p class='text-center text-muted'><em>{{model.description}}</em></p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Details
          </h4>
        </div>
        
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-4">Date</th><th class="col-xs-2">Title</th><th class="col-xs-6">Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |event|}}
              <tr>
                <td class="col-xs-4">{{formatDate "LL" event.date}}</td><td class="col-xs-2">{{event.title}}</td><td class="col-xs-6">{{event.description}}</td>
              </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
  </div>
</div>
