{{outlet}}

<form>
  <div class="form-group row">
    <label for="title" class="col-lg-2 control-label">Event Title</label>
    {{input value=model.title id='title' class="col-lg-4" placeholder="Title"}}
  </div>

  <div class="form-group row">
    <label for="description" class="col-lg-2 control-label">Description</label>
    {{textarea value=model.description id='url' class="col-lg-4" placeholder="Description"}}
  </div>
  <div class="form-group row">
    <label for="date" class="col-lg-2 control-label">Date</label>
    {{bootstrap-datepicker startView="year" todayHighlight=true autoclose=false value=model.date class="col-lg-4" }}
  </div>


  <div class="form-group">
    <button id="submit" class="btn btn-primary" {{action 'save' model}}>Create Event</button>
  </div>
</form>
